@{
    ViewData["Title"] = "COMP2084- Lab 2";
}

<div class="text-center">
    <h1 class="display-4">Hello, Professor Pardy</h1>
    <p>Welcome to COMP2084- Lab 2</p>
</div>
<footer class="text-center">

    <div>

        <p>Bradley Hann</p>
        <p>Student Number: 200483088</p>

    </div>

</footer>
